<div class="container mt-5 ms-5">
  <h1 class="text-center">Информация о профиле</h1>
  <hr class="mb-5" />
  <div>
    <p class="user-col">Имя</p>
    <p>{{ user.name }}</p>
  </div>
  <div>
    <p class="user-col">Фамилия</p>
    <p>{{ user.surname }}</p>
  </div>
  <div>
    <p class="user-col">Отчество</p>
    <p>{{ user.patronymic }}</p>
  </div>
  <div>
    <p class="user-col">Страна проживания</p>
    <p>{{ user.country }}</p>
  </div>
  <div>
    <p class="user-col">Основная валюта</p>
    <p>{{ user.currency.name }} ({{ user.currency.code }})</p>
  </div>
  <div>
    <p class="user-col">Почта</p>
    <p>{{ user.email }}</p>
  </div>
  <div>
    <p class="user-col">Имя пользователя</p>
    <p>{{ user.username }}</p>
  </div>
  <div>
    <p class="user-col">Дата создания аккаунта</p>
    <p>{{ user.createdAt | date : "dd-MM-yyyy HH:mm" }}</p>
  </div>
  <div>
    <p class="user-col">Роли</p>
    <p>{{ userRoles }}</p>
  </div>
</div>
