<div class="container mt-5">
  <div>
    <p class="user-col">Имя</p>
    <p>Роман</p>
  </div>
  <div>
    <p class="user-col">Фамилия</p>
    <p>Статкевич</p>
  </div>
  <div>
    <p class="user-col">Отчество</p>
    <p>Викторович</p>
  </div>
  <div>
    <p class="user-col">Страна проживания</p>
    <p>Беларусь</p>
  </div>
  <div>
    <p class="user-col">Почта</p>
    <p>romanstatmail.ru</p>
  </div>
  <div>
    <p class="user-col">Имя пользователя</p>
    <p>b00045873</p>
  </div>
  <div>
    <p class="user-col">Учетная запись заблокирована</p>
    <p>Нет</p>
  </div>
</div>
