<div class="container mt-5">
  <h2>Уведомления за сегодня</h2>
  <div class="today-notifications mb-5">
    <div class="notification">
      <div>
        <div class="notification-title">New Comment</div>
        <div class="notification-description">
          You have a new comment on your post
        </div>
        <div class="notification-date">2024-11-19</div>
      </div>
      <div><i class="icon unread-icon">✖</i></div>
    </div>
    <div class="notification">
      <div>
        <div class="notification-title">New Comment</div>
        <div class="notification-description">
          You have a new comment on your post
        </div>
        <div class="notification-date">2024-11-19</div>
      </div>
      <div><i class="icon unread-icon">✔</i></div>
    </div>
    <div class="notification">
      <div>
        <div class="notification-title">New Comment</div>
        <div class="notification-description">
          You have a new comment on your post
        </div>
        <div class="notification-date">2024-11-19</div>
      </div>
      <div><i class="icon unread-icon">✖</i></div>
    </div>
  </div>
  <h2>Все остальные уведомления</h2>
  <div class="other-notifications">
    <div class="notification">
      <div>
        <div class="notification-title">Weekly Report</div>
        <div class="notification-description">Your weekly report is ready</div>
        <div class="notification-date">2024-11-18</div>
      </div>
      <div><i class="icon read-icon">✔</i></div>
    </div>
  </div>
</div>
