<div class="container my-5">
  <h1 class="mb-4">Цели</h1>

  <div class="d-flex justify-content mb-4">
    <button
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#createGoalModal"
    >
      <i class="bi bi-plus-circle"></i> Добавить новую цель
    </button>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let savingsGoal of savingsGoals">
      <div class="card">
        <div class="card-header">
          <div class="d-flex">
            <div *ngIf="!isEditing(savingsGoal)">
              <h5 class="card-title">{{ savingsGoal.name }}</h5>
            </div>
            <div *ngIf="isEditing(savingsGoal)">
              <input
                type="text"
                [(ngModel)]="savingsGoal.name"
                class="form-control mb-2"
              />
              <button
                type="button"
                class="me-2 mt-2"
                (click)="save(savingsGoal)"
              >
                <i class="bi bi-check"></i>
              </button>
              <button type="button" class="me-2 mt-2" (click)="cancelEditing()">
                <i class="bi bi-x"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p *ngIf="!isEditing(savingsGoal)" class="card-text">
            <strong>Цель:</strong> {{ savingsGoal.targetAmount }}
            {{ savingsGoal.currency.sign }}
          </p>
          <div *ngIf="isEditing(savingsGoal)">
            <div class="card-text d-flex">
              <strong>Цель:</strong>
              <input
                type="number"
                [(ngModel)]="savingsGoal.targetAmount"
                class="form-control ms-2"
              />
            </div>
          </div>
          <p class="card-text">
            <strong>Собрано:</strong> {{ savingsGoal.currentAmount }}
            {{ savingsGoal.currency.sign }}
          </p>
          <p class="card-text">
            <strong>Статус:</strong>
            {{ savingsGoal.isCompleted ? "Завершена" : "В процессе" }}
          </p>
          <p class="card-text">
            <small class="text-muted"
              >Дата начала:
              {{ savingsGoal.startDate | date : "dd.MM.yyyy" }}</small
            >
          </p>
          <p class="card-text">
            <small class="text-muted"
              >Дата окончания:
              {{ savingsGoal.endDate | date : "dd.MM.yyyy" }}</small
            >
          </p>
          <p class="card-text" *ngIf="savingsGoal.isCompleted">
            <small class="text-muted"
              >Дата выполнения:
              {{ savingsGoal.completedDate | date : "dd.MM.yyyy" }}</small
            >
          </p>
        </div>
        <div class="card-footer text-end">
          <button class="me-2" (click)="edit(savingsGoal)">
            <i class="bi bi-pencil-square"></i>
          </button>
          <button class="me-2" (click)="delete(savingsGoal.id)">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="createGoalModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createGoalModalTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createGoalModalTitle">
            Создать новую цель
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Закрыть"
          ></button>
        </div>
        <form [formGroup]="createForm">
          <div class="modal-body">
            <div class="form-group mb-3">
              <label for="accountId" class="form-label">Счёт</label>
              <select
                id="accountId"
                class="form-select"
                formControlName="accountId"
                (change)="onAccountChange($event)"
              >
                <option *ngFor="let account of accounts" [value]="account.id">
                  {{ account.name }}
                </option>
              </select>
            </div>
            <div class="form-group mb-3">
              <label for="name" class="form-label">Название цели</label>
              <input
                type="text"
                class="form-control"
                id="name"
                formControlName="name"
                placeholder="Введите название цели"
              />
              <div
                *ngIf="
                  createForm.get('name')?.invalid &&
                  createForm.get('name')?.touched
                "
                class="text-danger"
              >
                Название цели обязательно
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="targetAmount" class="form-label">Цель</label>
              <div class="input-group">
                <input
                  type="number"
                  class="form-control"
                  id="targetAmount"
                  formControlName="targetAmount"
                  placeholder="Введите целевую сумму"
                />
                <span
                  *ngIf="accountCurrency != null"
                  class="input-group-text"
                  >{{ accountCurrency.code }}</span
                >
              </div>
              <div
                *ngIf="
                  createForm.get('targetAmount')?.invalid &&
                  createForm.get('targetAmount')?.touched
                "
                class="text-danger"
              >
                Цель должна быть больше 0
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="note" class="form-label">Заметка</label>
              <textarea
                type="text"
                class="form-control"
                id="note"
                formControlName="note"
                placeholder="Введите заметку"
              ></textarea>
            </div>
            <div class="form-group mb-3">
              <label for="startDate" class="form-label">Дата начала</label>
              <input
                type="date"
                class="form-control"
                id="startDate"
                formControlName="startDate"
              />
            </div>
            <div class="form-group mb-3">
              <label for="endDate" class="form-label">Дата окончания</label>
              <input
                type="date"
                class="form-control"
                id="endDate"
                formControlName="endDate"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Закрыть
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              data-bs-dismiss="modal"
              (click)="create()"
              [disabled]="createForm.invalid"
            >
              Создать
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
