<div class="container mt-4">
  <h1 class="text-center mb-5">Бюджеты</h1>
  <ul class="nav nav-tabs" id="budgetTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="weekly-tab"
        data-bs-toggle="tab"
        type="button"
        role="tab"
        aria-controls="weekly"
        aria-selected="true"
        (click)="changeBudgetType('Еженедельно')"
      >
        Еженедельно
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="monthly-tab"
        data-bs-toggle="tab"
        type="button"
        role="tab"
        aria-controls="monthly"
        aria-selected="false"
        (click)="changeBudgetType('Ежемесячно')"
      >
        Ежемесячно
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="annual-tab"
        data-bs-toggle="tab"
        type="button"
        role="tab"
        aria-controls="annual"
        aria-selected="false"
        (click)="changeBudgetType('Ежегодно')"
      >
        Ежегодно
      </button>
    </li>
  </ul>
  <div class="tab-content mt-3">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">Категория</th>
          <th scope="col">Бюджет (Лимит)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let budget of budgets">
          <td>{{ budget.name }}</td>
          <td>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="budget.limitAmount"
              placeholder="Введите бюджет"
            />
          </td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-success" (click)="bulkUpdate()">
      Сохранить
    </button>
  </div>
</div>
