<div class="accordion container" id="news">
  <button type="submit" class="btn btn-success mb-2">Добавить</button>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        <div class="d-flex justify-content-between w-100">
          News Title #1
          <span style="padding-right: 10px"> Дата </span>
        </div>
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      data-bs-parent="#news"
    >
      <div class="accordion-body">
        It is shown by default, until the collapse plugin adds the appropriate
        classes that we use to style each element. These classes control the
        overall appearance, as well as the showing and hiding via CSS
        transitions. You can modif any of this with custom CSS or overriding our
        default variables. It's also worth noting that just about any HTML can
        go within the
        <code>.accordion-body</code>, though the transition does limit overflow.
        <div class="d-flex justify-content-end mt-3">
          <button class="btn btn-warning btn-sm mx-2">Редактировать</button>
          <button class="btn btn-danger btn-sm">Удалить</button>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwo"
        aria-expanded="true"
        aria-controls="collapseTwo"
      >
        <div class="d-flex justify-content-between w-100">
          News Title #2
          <span style="padding-right: 10px"> Дата </span>
        </div>
      </button>
    </h2>
    <div
      id="collapseTwo"
      class="accordion-collapse collapse show"
      data-bs-parent="#news"
    >
      <div class="accordion-body">
        It is shown by default, until the collapse plugin adds the appropriate
        classes that we use to style each element. These classes control the
        overall appearance, as well as the showing and hiding via CSS
        transitions. You can modify any of this with custom CSS or overriding
        our default variables. It's also worth noting that just about any HTML
        can go within the
        <code>.accordion-body</code>, though the transition does limit overflow.
        <div class="d-flex justify-content-end mt-3">
          <button class="btn btn-warning btn-sm mx-2">Редактировать</button>
          <button class="btn btn-danger btn-sm">Удалить</button>
        </div>
      </div>
    </div>
  </div>
</div>
