<div class="accordion container" id="news">
  <button type="submit" class="btn btn-success mb-2">Добавить</button>
  <div class="accordion-item" *ngFor="let newsItem of news; let i=index;">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'collapse' + i"
        aria-expanded="true">
        <div class="d-flex justify-content-between w-100">
          {{ newsItem.title }}
          <span style="padding-right: 10px">
            {{ newsItem.createdAt }}
          </span>
        </div>
      </button>
    </h2>
    <div [id]="'collapse' + i" class="accordion-collapse collapse" data-bs-parent="#news">
      <div class="accordion-body">
        {{ newsItem.description }}
        <code>.accordion-body</code>, though the transition does limit overflow.
        <div class="d-flex justify-content-end mt-3">
          <button class="btn btn-warning btn-sm mx-2">Редактировать</button>
          <button class="btn btn-danger btn-sm" (click)="delete(newsItem.id)">Удалить</button>
        </div>
      </div>
    </div>
  </div>
</div>