<div class="container-fluid">
  <div class="mb-4">
    <input
      type="text"
      class="form-control"
      placeholder="Поиск..."
      [(ngModel)]="searchTerm"
      (input)="search()"
    />
  </div>
  <table
    class="table table-striped table-hover table-bordered table-responsive"
  >
    <thead class="thead">
      <tr>
        <th>Идентификатор</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Отчество</th>
        <th>Страна проживания</th>
        <th>Почта</th>
        <th>Имя пользователя</th>
        <th>Дата создания аккаунта</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td><input [(ngModel)]="user.name" [disabled]="!isEditing(user)" /></td>
        <td>
          <input [(ngModel)]="user.surname" [disabled]="!isEditing(user)" />
        </td>
        <td>
          <input [(ngModel)]="user.patronymic" [disabled]="!isEditing(user)" />
        </td>
        <td>{{ user.country }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.createdAt | date : "yyyy-MM-dd HH:MM" }}</td>
        <td>
          <div class="d-flex">
            <button *ngIf="!isEditing(user)" type="button" class="me-2">
              <i class="bi-pencil-square" (click)="edit(user)"></i>
            </button>
            <button *ngIf="isEditing(user)" type="button" class="me-2">
              <i class="bi-check" (click)="save(user)"></i>
            </button>
            <button *ngIf="isEditing(user)" type="button" class="me-2">
              <i class="bi-x" (click)="cancelEdit()"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
