<div class="container">
    <div class="mb-4">
        <input type="text" class="form-control" placeholder="Поиск..." [(ngModel)]="searchTerm"
            (input)="search()">
    </div>
    <table class="table table-striped table-hover table-bordered table-responsive">
        <thead class="thead">
            <tr>
                <th scope="col">Идентификатор</th>
                <th scope="col">Короткое название</th>
                <th scope="col">Полное название</th>
                <th scope="col">2-х букв. код</th>
                <th scope="col">3-х букв. код</th>
                <th scope="col">Цифровой код</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of countries;">
                <th scope="row">{{country.id}}</th>
                <td>{{country.shortName}}</td>
                <td>{{country.fullName}}</td>
                <td>{{country.alpha2Code}}</td>
                <td>{{country.alpha3Code}}</td>
                <td>{{country.numericCode}}</td>
            </tr>
        </tbody>
    </table>
</div>