<div class="login">
  <form>
    <p class="mb-3" style="color: #0e2238; font-size: 22px">
      <b>Авторизация</b>
    </p>
    <div class="form-group mb-3">
      <label for="username" class="form-label">Имя пользователя</label>
      <input type="text" class="form-control" id="username" />
    </div>
    <div class="form-group mb-3">
      <label for="password" class="form-label">Пароль</label>
      <input type="password" class="form-control" id="password" />
    </div>
    <button type="submit" class="w-100 btn-auth">Авторизоваться</button>
  </form>
</div>

<router-outlet></router-outlet>
